---
import LandingHero from '../components/LandingHero.astro';
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Norma's Cakes - Pastelería Artesanal" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logooo.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
		<title>Moka</title>
		<ClientRouter />
	</head>
	
    <body class="bg-norma-dark antialiased overflow-hidden">
        <main>
            <LandingHero />
        </main>
	</body>
</html>